extends layout
block content
    .container
        h3 Manage #{title}
        if user
            a.btn.mb-4.btn-primary(href='/student/formCreate') Add Student
        table.table.table-responsive
                tr
                    th #
                    th NIM
                    th Name
                    th Email
                    th Major
                    th Action
                each mhs, i in student
                    tr
                        td= i+1
                        td= mhs.nim
                        td= mhs.name
                        td= mhs.email
                        td= mhs.major
                        td
                            a.badge.badge-warning(href='/student/'+mhs.id) Detail
                        